@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@1,9..144,700&family=Red+Hat+Display:wght@500;600;700&display=swap');

:root {
  /* //  ### Primary */

  --paleblue: hsl(225, 100%, 94%);
  --brightblue: hsl(245, 75%, 52%);

  /* ### Neutral */

  --verypaleblue: hsl(225, 100%, 98%);
  --desaturatedblue: hsl(224, 23%, 55%);
  --darkblue: hsl(223, 47%, 23%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: var(--paleblue);
}

.card {
  display: flex;
  background-color: white;
  width: 360px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
}

.card img {
  width: 100%;
  border-radius: 0.8rem 0.8rem 0 0;
}

.card-body {
  padding: 2rem;
  text-align: center;
}

.card-body h1 {
  padding-bottom: 0.5rem;
  color: var(--darkblue);
}

.text {
  color: var(--desaturatedblue);
  font-size: 14px;
  line-height: 1.8rem;
  font-weight: lighter;
}

.plan-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  padding: 1.1rem;
  width: 80%;
  background-color: var(--verypaleblue);
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.plan-box-left {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.plan-box img {
  width: 30%;
  margin-right: 0.2rem;
}

.plan-details h2 {
  color: var(--darkblue);
  font-size: 14px;
}
.plan-details p {
  color: var(--desaturatedblue);
  font-size: 12px;
}
.btn-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-bottom: 1rem;
  width: 80%;
}

a {
  font-size: 12px;
}
a:hover {
  cursor: pointer;
  color: rgb(217, 174, 241);
}

.btn {
  padding: 0.7rem;
  border-radius: 0.5rem;
  border: none;
}

.submit {
  color: white;
  background-color: var(--brightblue);
}
.submit:hover {
  background-color: rgb(217, 174, 241);
  cursor: pointer;
}
.cancel {
  color: var(--desaturatedblue);
  background-color: white;
}
.cancel:hover {
  color: var(--darkblue);
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 2rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
